body{
    background-color: rgb(235, 230, 230);
}

.inner-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
    background-color: white;
}
.labels{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}
.fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.note{
    max-height: max-content;
}



.heading{
    box-shadow: 0 0 4px rgba(152, 149, 149, 0.5);
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    margin-top: 100px;
    padding: 20px;
}

.upper{
    background-color: white;
    
}
nav {
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    /* Use viewport height for full height */
    background-color:white ;
    color: black;
    padding-top: 20px;

}

.image{
    width: 20px;
    height: 20px;
    clip-path: circle(40%);
    object-fit: cover;

}

.pad{
    padding: 3%;
}

.header{
    display:flex;
    justify-content: left;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: white;
    height: 10%;
}
.headerfont{
    display:flex;
    flex-direction: column;
    gap:5px;
    justify-content: start;
}


.emp-text {
    font: normal normal bold 20px/10px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
    display: flexbox;
    
    
    

}
.logoContainer-img {
    border: solid 0px #42515f;
}

.button{
    display: flex;
    gap: 100px;
}

